In [1]:
import pandas as pd
import numpy as np

# Part 1

1.A.

In [2]:
from zipfile import ZipFile

with ZipFile('blogs.zip', 'r') as zipdata:
    data_csv = zipdata.open('blogtext.csv')

In [3]:
data_csv

In [4]:
df = pd.read_csv(data_csv)
# Deleting data_csv variable for memory
del data_csv

In [5]:
df.columns

Index(['id', 'gender', 'age', 'topic', 'sign', 'date', 'text'], dtype='object')

In [6]:
# checking first 5 rows od data
df.head(5)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

1.B.i.

In [7]:
#checking null values
df.isnull().sum()

id        0
gender    0
age       0
topic     0
sign      0
date      0
text      0
dtype: int64

There are no null values

1.B.ii.

In [8]:
from langdetect import detect

In [9]:
# selecting only 5000 data for development
df = df[:5000]
df.shape

(5000, 7)

In [10]:
for i in range(len(df)):                                         
    try:                                                          
       lang = detect(df['text'][i])                                      
    except:                                                       
       df.drop(i, inplace=True)
    df['language'] = lang
df.reset_index(drop=True)

,id,gender,age,topic,sign,date,text,language
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",en
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,en
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,en
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,en
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,en
...,...,...,...,...,...,...,...,...
4983,1103575,female,17,indUnk,Scorpio,"27,August,2003",So... I had another one of those dreams...,en
4984,1103575,female,17,indUnk,Scorpio,"27,August,2003",mmm... strawberry tea for breakfast. To...,en
4985,1103575,female,17,indUnk,Scorpio,"27,August,2003","Yay for a new layout!! Yeah, I know, I...",en
4986,1103575,female,17,indUnk,Scorpio,"26,August,2003","Ok, so I lied... Fed up isn't playing F...",en
4987,1103575,female,17,indUnk,Scorpio,"26,August,2003","well, today I went to church and talked...",en

In [11]:
df.head()

,id,gender,age,topic,sign,date,text,language
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,...",en
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...,en
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...,en
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!,en
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...,en

In [12]:
df.shape

(4988, 8)

2.A.

In [13]:
import re

Eliminate All special Characters and Numbers, lets take it same as Select only alphabets, we can modify this to just remove special characters and numbers.

In [14]:
df.text = df.text.apply(lambda x: re.sub('[^A-Za-z]+', ' ', x))

2.B.

Changing all textual data to Lowercase

In [15]:
df.text = df.text.apply(lambda x: x.lower())

2.C.

Removing all stopwords

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ankit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
from nltk.corpus import stopwords

In [18]:
stopwords = set(stopwords.words('english'))
df.text = df.text.apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))

2.D.

Removing all extra spaces

In [19]:
df.text = df.text.apply(lambda x: x.strip())

In [20]:
df.head()

,id,gender,age,topic,sign,date,text,language
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en

3.A.

Creating data with columns as text and labels, where labels have gender, age, topic, sign as an array

In [21]:
df['labels'] = df.apply(lambda row: [row['gender'], str(row['age']), row['topic'], row['sign']], axis=1)

In [22]:
df.head()

,id,gender,age,topic,sign,date,text,language,labels
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en,"[male, 15, Student, Leo]"
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en,"[male, 15, Student, Leo]"
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en,"[male, 15, Student, Leo]"
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en,"[male, 15, Student, Leo]"
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en,"[male, 33, InvestmentBanking, Aquarius]"

In [23]:
df_orig = df

In [24]:
df = df[['text','labels']]
df.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

3.B.

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(df.text.values, df.labels.values, test_size=0.20, random_state=42)

3.C.

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
vectorizer = CountVectorizer(binary=True, ngram_range=(1, 2))
X_train_bow = vectorizer.fit_transform(X_train)
X_test_bow = vectorizer.transform(X_test)

In [29]:
vectorizer.get_feature_names_out()[:5]

array(['aa', 'aa anger', 'aa compared', 'aa nice', 'aaa'], dtype=object)

In [30]:
X_train_bow.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

creating a directory for label counts

In [31]:
label_counts = dict()

for labels in df.labels.values:
    for label in labels:
        if label in label_counts:
            label_counts[label] += 1
        else:
            label_counts[label] = 1

In [32]:
label_counts

{'male': 3286,
 '15': 338,
 'Student': 569,
 'Leo': 190,
 '33': 101,
 'InvestmentBanking': 70,
 'Aquarius': 329,
 'female': 1702,
 '14': 170,
 'indUnk': 1376,
 'Aries': 2477,
 '25': 268,
 'Capricorn': 84,
 '17': 328,
 'Gemini': 85,
 '23': 137,
 'Non-Profit': 47,
 'Cancer': 94,
 'Banking': 16,
 '37': 19,
 'Sagittarius': 703,
 '26': 95,
 '24': 353,
 'Scorpio': 405,
 '27': 86,
 'Education': 118,
 '45': 14,
 'Engineering': 119,
 'Libra': 413,
 'Science': 32,
 '34': 539,
 '41': 14,
 'Communications-Media': 61,
 'BusinessServices': 87,
 'Sports-Recreation': 75,
 'Virgo': 41,
 'Taurus': 100,
 'Arts': 31,
 'Pisces': 67,
 '44': 3,
 '16': 67,
 'Internet': 20,
 'Museums-Libraries': 2,
 'Accounting': 2,
 '39': 79,
 '35': 2301,
 'Technology': 2326,
 '36': 60,
 'Law': 3,
 '46': 7,
 'Consulting': 16,
 'Automotive': 14,
 '42': 9,
 'Religion': 4}

In [33]:
from sklearn.preprocessing import MultiLabelBinarizer

In [34]:

mlb = MultiLabelBinarizer(classes=sorted(label_counts.keys()))
y_train = mlb.fit_transform(y_train)
y_test = mlb.transform(y_test)

In [35]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [36]:
clf = LogisticRegression(solver='lbfgs')
clf = OneVsRestClassifier(clf)

In [37]:
clf.fit(X_train_bow, y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [38]:
predicted_labels = clf.predict(X_test_bow)
predicted_scores = clf.decision_function(X_test_bow)

In [39]:
pred_inversed = mlb.inverse_transform(predicted_labels)
y_test_inversed = mlb.inverse_transform(y_test)

In [40]:
for i in range(5):
    print('Title:\t{}\nTrue labels:\t{}\nPredicted labels:\t{}\n\n'.format(
        X_test[i],
        ','.join(y_test_inversed[i]),
        ','.join(pred_inversed[i])
    ))

Title:	unlike women need halloween find exploit sexuality feel lack use excuse flaunt publicly normally sake societal propriety downplay know loved
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	well hello johnathan well hello johnathan nice see back belong looking swell johnathan know lines johnathan
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	actual work job hardly time surf net anymore worry johnathan sanity totally insane game tomorrow yay
True labels:	35,Aries,Technology,male
Predicted labels:	35,Aries,Technology,male


Title:	yeah days today realized much life sucks come home go straight internet get read homework go sleep im ephiphany geek theres new kid school got good sense humor nice personality someone need get know better yeah valentine day three days oh joy another valentines day wasted self loathing im big loser anyone go sarah buisness hasnt recieved customers yeah thats thought could see future see turned would killed take x block school nothing bore anymore class actually enjoy would algebra challenge public speaking kozar riot people awesome french owns dont listen love homegrown nothing flashback yeah entries like add random comment everywhere thinking everything wayy much happens start feeling sick feel sick cant anything good ever happen think paid dues something good hasta happen would think would also think wrong yeah im gonna go need work gay template figure stuff dont care anymore
True labels:	15,Libra,Student,female
Predicted labels:	15,Libra,Student,female


Title:	wasted talent kids always get jokes granted think really funny stuff time kids get leia brought home book daycare friday math kids book titled give half saw title told leia yeah need know little later life honey giggled clever nobody else got sigh diva
True labels:	34,Sagittarius,female,indUnk
Predicted labels:	34,Sagittarius,female,indUnk

In [41]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [42]:
def print_evaluation_scores(y_val, predicted):
    print('Accuracy score: ', accuracy_score(y_val, predicted))
    print('F1 score: ', f1_score(y_val, predicted, average='micro'))
    try:
        print('Average precision score: ', average_precision_score(y_val, predicted, average='micro'))
    except:
        print('Average precision score: ', precision_score(y_val, predicted, average='micro'))
    print('Average recall score: ', recall_score(y_val, predicted, average='micro'))

In [43]:
print('Bag-of-words')
print_evaluation_scores(y_test, predicted_labels)

Bag-of-words
Accuracy score:  0.5210420841683366
F1 score:  0.7237530026847535
Average precision score:  0.5591191296693874
Average recall score:  0.6415330661322646

4.A.

In [44]:
from nltk.stem.wordnet import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('wordnet', quiet=True) # wordnet library
nltk.download('words', quiet=True) # words library
nltk.download('punkt', quiet=True) # tokenize library

True

In [45]:
# copying data to new variable
tfidf_df = df_orig
tfidf_df[["text", "topic"]]

                                                   text              topic
0     info found pages mb pdf files wait untill team...            Student
1     team members drewes van der laag urllink mail ...            Student
2     het kader van kernfusie op aarde maak je eigen...            Student
3                                       testing testing            Student
4     thanks yahoo toolbar capture urls popups means...  InvestmentBanking
...                                                 ...                ...
4995  another one dreams last night except time leas...             indUnk
4996  mmm strawberry tea breakfast tomorrow think de...             indUnk
4997  yay new layout yeah know need get complicated ...             indUnk
4998  ok lied fed playing friday night underdog cons...             indUnk
4999  well today went church talked music director t...             indUnk

[4988 rows x 2 columns]

In [46]:
print(tfidf_df.topic.unique())

['Student' 'InvestmentBanking' 'indUnk' 'Non-Profit' 'Banking' 'Education'
 'Engineering' 'Science' 'Communications-Media' 'BusinessServices'
 'Sports-Recreation' 'Arts' 'Internet' 'Museums-Libraries' 'Accounting'
 'Technology' 'Law' 'Consulting' 'Automotive' 'Religion']

In [47]:
# Tokenize the normalized_documents
tfidf_df['Method1_doc'] = tfidf_df['text'].apply(lambda x : nltk.word_tokenize(x))
tfidf_df.head()

,id,gender,age,topic,sign,date,text,language,labels,Method1_doc
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en,"[male, 15, Student, Leo]","[info, found, pages, mb, pdf, files, wait, unt..."
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en,"[male, 15, Student, Leo]","[team, members, drewes, van, der, laag, urllin..."
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en,"[male, 15, Student, Leo]","[het, kader, van, kernfusie, op, aarde, maak, ..."
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en,"[male, 15, Student, Leo]","[testing, testing]"
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en,"[male, 33, InvestmentBanking, Aquarius]","[thanks, yahoo, toolbar, capture, urls, popups..."

In [48]:
def dummy_fun(doc):
    return doc

tfidf = TfidfVectorizer(analyzer='word',
                        tokenizer=dummy_fun,
                        preprocessor=dummy_fun,
                        token_pattern=None)

In [49]:
tfidf_method1 = tfidf.fit_transform(tfidf_df.Method1_doc)
tfidf_method1.shape

(4988, 32998)

In [50]:
tfidf_method1

<4988x32998 sparse matrix of type '<class 'numpy.float64'>'
	with 295457 stored elements in Compressed Sparse Row format>

In [51]:
tfidf_df_method1 = pd.DataFrame(tfidf_method1.toarray(),
                                columns = tfidf.get_feature_names_out(),
                                index = tfidf_df.index)

In [52]:
tfidf_df_method1.head()

,aa,aaa,aaaaaaaaah,aaaaaaah,aaaaaah,aaaaaawwwwww,aaaaack,aaaaahhhh,aaaah,aaaahh,...,zun,zuo,zza,zzz,zzzexy,zzzz,zzzzz,zzzzzz,zzzzzzz,zzzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
tfidf_df_method1.mean().sort_values(ascending = False).head(10)

urllink    0.033140
like       0.020729
one        0.018225
know       0.015843
nbsp       0.015579
get        0.015270
good       0.013726
go         0.013518
really     0.013513
time       0.013467
dtype: float64

In [54]:
def sentence(text):
    sent = ' '.join(text)
    #for i in txt:
     #   sent.append(' '.join(i))
    return sent

In [55]:
tfidf_df_method1

,aa,aaa,aaaaaaaaah,aaaaaaah,aaaaaah,aaaaaawwwwww,aaaaack,aaaaahhhh,aaaah,aaaahh,...,zun,zuo,zza,zzz,zzzexy,zzzz,zzzzz,zzzzzz,zzzzzzz,zzzzzzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
tfidf_df['Method1'] = tfidf_df['Method1_doc'].apply(sentence)
tfidf_df.head()

,id,gender,age,topic,sign,date,text,language,labels,Method1_doc,Method1
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en,"[male, 15, Student, Leo]","[info, found, pages, mb, pdf, files, wait, unt...",info found pages mb pdf files wait untill team...
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en,"[male, 15, Student, Leo]","[team, members, drewes, van, der, laag, urllin...",team members drewes van der laag urllink mail ...
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en,"[male, 15, Student, Leo]","[het, kader, van, kernfusie, op, aarde, maak, ...",het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en,"[male, 15, Student, Leo]","[testing, testing]",testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en,"[male, 33, InvestmentBanking, Aquarius]","[thanks, yahoo, toolbar, capture, urls, popups...",thanks yahoo toolbar capture urls popups means...

In [57]:
X_train, X_test, y_train, y_test = train_test_split(tfidf_df['Method1'].values, tfidf_df['topic'].values, test_size=0.15, random_state=42)
print('Training utterances: {}'.format(X_train.shape[0]))
print('Validation utterances: {}'.format(X_test.shape[0]))

Training utterances: 4239
Validation utterances: 749

In [58]:
vectorizer = TfidfVectorizer()
vectorizer.fit(X_train)

TfidfVectorizer()

In [59]:
X_train = vectorizer.transform(X_train)
X_test = vectorizer.transform(X_test)
X_train, X_test

(<4239x30241 sparse matrix of type '<class 'numpy.float64'>'
 	with 247037 stored elements in Compressed Sparse Row format>,
 <749x30241 sparse matrix of type '<class 'numpy.float64'>'
 	with 44218 stored elements in Compressed Sparse Row format>)

Chi-square test measures dependence between stochastic variables, so using this function "weeds out" the features that are the most likely to be independent of class and therefore irrelevant for classification

In [60]:
from sklearn.feature_selection import SelectKBest, chi2

ch2 = SelectKBest(chi2, k=5000)
X_train = ch2.fit_transform(X_train, y_train)
X_test = ch2.transform(X_test)

X_train, X_test

(<4239x5000 sparse matrix of type '<class 'numpy.float64'>'
 	with 108636 stored elements in Compressed Sparse Row format>,
 <749x5000 sparse matrix of type '<class 'numpy.float64'>'
 	with 20129 stored elements in Compressed Sparse Row format>)

In [61]:
from sklearn.naive_bayes import MultinomialNB
model_mnb_m1 = MultinomialNB()
model_mnb_m1.fit(X_train, y_train)
pred = model_mnb_m1.predict(X_test)

In [62]:
print_evaluation_scores(y_test, pred)

Accuracy score:  0.5967957276368492
F1 score:  0.5967957276368492
Average precision score:  0.5967957276368492
Average recall score:  0.5967957276368492

Glove Embeddings

In [63]:
df_glove = df_orig

In [64]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_glove['Target'] = le.fit_transform(df_orig['topic'])
df_glove.head()

,id,gender,age,topic,sign,date,text,language,labels,Method1_doc,Method1,Target
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en,"[male, 15, Student, Leo]","[info, found, pages, mb, pdf, files, wait, unt...",info found pages mb pdf files wait untill team...,17
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en,"[male, 15, Student, Leo]","[team, members, drewes, van, der, laag, urllin...",team members drewes van der laag urllink mail ...,17
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en,"[male, 15, Student, Leo]","[het, kader, van, kernfusie, op, aarde, maak, ...",het kader van kernfusie op aarde maak je eigen...,17
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en,"[male, 15, Student, Leo]","[testing, testing]",testing testing,17
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en,"[male, 33, InvestmentBanking, Aquarius]","[thanks, yahoo, toolbar, capture, urls, popups...",thanks yahoo toolbar capture urls popups means...,10

In [65]:
import os
glove_path = 'glove.6B.300d.txt'
embeddings_index = {}
f = open(glove_path, encoding='utf8')

for line in f:
    values = line.split()
    word = values[0]
    coefs = np.asarray(values[1:], dtype='float32')
    embeddings_index[word] = coefs
    #print(embeddings_index)
f.close()

Verifying similar words from the pretrained embeddings

In [66]:
from scipy import spatial
def find_similar_word(emmbedes):
  nearest = sorted(embeddings_index.keys(), key=lambda word: spatial.distance.euclidean(embeddings_index[word], emmbedes))
  return nearest

In [67]:
find_similar_word(embeddings_index['people'])[0:10]

['people',
 'others',
 'those',
 'least',
 'many',
 'some',
 'all',
 'just',
 'them',
 'there']

In [68]:
# Convering the embedding words to vectors

words = list(embeddings_index.keys())
vectors = [embeddings_index[word] for word in words]

In [69]:
# Converting the vectors to dataframe

embed_df = (pd.DataFrame(vectors, index= words).transpose())
embed_df.head()

,the,",",.,of,to,and,in,a,"""",'s,...,sigarms,katuna,aqm,1.3775,corythosaurus,chanty,kronik,rolonda,zsombor,sandberger
0,0.046560,-0.255390,-0.125590,-0.076947,-0.257560,0.038466,-0.44399,-0.297120,0.694700,-0.001272,...,0.14649,-0.030013,0.46348,0.71376,0.886490,0.392700,0.136790,0.075713,0.81451,0.429191
1,0.213180,-0.257230,0.013630,-0.021211,-0.057132,-0.039792,0.12817,0.094049,0.221840,0.365140,...,-0.47266,0.246260,-0.42811,-0.56625,-0.095745,-0.022505,-0.139090,-0.040502,-0.36221,-0.296897
2,-0.007436,0.131690,0.103060,0.212710,-0.671900,0.082747,-0.25247,-0.096662,0.105260,-0.077363,...,0.17144,0.068192,0.45750,-0.18468,0.189610,0.304580,-0.360890,0.183450,0.31186,0.150110
3,-0.458540,-0.042688,-0.101230,-0.722320,-0.380820,-0.389230,-0.18582,-0.344000,0.012382,-0.265590,...,0.26431,0.089033,0.25317,0.30104,0.012919,0.187990,0.079864,0.512300,0.81381,0.245201
4,-0.035639,0.218170,0.098128,-0.139880,-0.364210,-0.214310,-0.16614,-0.184830,-0.255800,0.179870,...,-0.13895,-0.199770,0.58327,-0.56443,-0.409250,0.141180,0.321490,-0.228560,0.18852,-0.003520

In [70]:
# Extracting the top50 words

top50_embed_vectors = {token: embed_df[token] 
                               for token in top50_tokens_tfidf}

top50_embed_vectors_df = (pd.DataFrame(top50_embed_vectors).transpose())
top50_embed_vectors_df

NameError: name 'top50_tokens_tfidf' is not defined

4.C.

Applying lemmetisation

In [71]:
lemmatizer = WordNetLemmatizer()

def method2(text, lemma=True):
    sample = text
    sample = ' '.join(sample)
    # Lemmatization
    if lemma:
        sample = sample.split()
        sample = [lemmatizer.lemmatize(word) for word in sample]
        sample = ' '.join(sample)
    
    return sample

In [72]:
tfidf_df['Method2_doc'] = tfidf_df['Method1_doc'].apply(method2)
tfidf_df.head()

,id,gender,age,topic,sign,date,text,language,labels,Method1_doc,Method1,Target,Method2_doc
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...,en,"[male, 15, Student, Leo]","[info, found, pages, mb, pdf, files, wait, unt...",info found pages mb pdf files wait untill team...,17,info found page mb pdf file wait untill team l...
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...,en,"[male, 15, Student, Leo]","[team, members, drewes, van, der, laag, urllin...",team members drewes van der laag urllink mail ...,17,team member drewes van der laag urllink mail r...
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...,en,"[male, 15, Student, Leo]","[het, kader, van, kernfusie, op, aarde, maak, ...",het kader van kernfusie op aarde maak je eigen...,17,het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing,en,"[male, 15, Student, Leo]","[testing, testing]",testing testing,17,testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...,en,"[male, 33, InvestmentBanking, Aquarius]","[thanks, yahoo, toolbar, capture, urls, popups...",thanks yahoo toolbar capture urls popups means...,10,thanks yahoo toolbar capture url popups mean s...

In [73]:
X_train, X_test, y_train, y_test = train_test_split(tfidf_df['Method2_doc'].values, tfidf_df['topic'].values, test_size=0.15, random_state=42)
print('Training utterances: {}'.format(X_train.shape[0]))
print('Validation utterances: {}'.format(X_test.shape[0]))

## TF-IDF Vectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(X_train)
X_train = vectorizer.transform(X_train)
X_test = vectorizer.transform(X_test)

## Feature Selection
from sklearn.feature_selection import SelectKBest, chi2
ch2 = SelectKBest(chi2, k=5000)
X_train = ch2.fit_transform(X_train, y_train)
X_test = ch2.transform(X_test)

## Model Testing
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
model_mnb_m2 = MultinomialNB()
model_mnb_m2.fit(X_train, y_train)

Training utterances: 4239
Validation utterances: 749

MultinomialNB()

4.D.

In [74]:
pred = model_mnb_m2.predict(X_test)

In [75]:
print_evaluation_scores(y_test, pred)

Accuracy score:  0.6021361815754339
F1 score:  0.6021361815754339
Average precision score:  0.6021361815754339
Average recall score:  0.6021361815754339

We can seet the accuracy score has increased slightly by 1%, from 59% to 60% with lemmatisation

5.A.

Accuracy with Bag-of-words - Count Vectorizers   

Accuracy score:  0.5210420841683366  
F1 score:  0.7237530026847535  
Average precision score:  0.5591191296693874  
Average recall score:  0.6415330661322646  

---
Accuracy with Naive Bayes and Chi-square

Accuracy score:  0.5967957276368492  
F1 score:  0.5967957276368492  
Average precision score:  0.5967957276368492  
Average recall score:  0.5967957276368492  

---
Accuracy with TFIDF    

Accuracy score:  0.5967957276368492  
F1 score:  0.5967957276368492  
Average precision score:  0.5967957276368492  
Average recall score:  0.5967957276368492  

---
Accuracy with TFIDF after lemmatisation   

Accuracy score:  0.6021361815754339  
F1 score:  0.6021361815754339  
Average precision score:  0.6021361815754339  
Average recall score:  0.6021361815754339

TFIDF with lemmatizer performed the best:  
- The bag of word model focuses on the word count to represent a sentence
- TF-IDF method made use of all available words, statistically measure how important a word is in a collection of documents
- TF-IDF is better than Count Vectorizers because it not only focuses on the frequency of words present in the corpus but also provides the importance of the words

5.B.

TF-IDF with lemmatisation outperformed other models.  

The analysis clearly potraits that model performance is increased with lemmitisaion, as important as words/characters are unncessarily removed or trimmed while they have the same meaning.

5.C.

- Using TFIDF increased the performance at first, As using TF-IDF method use all available words, to statistically measure how important a word is in a collection.
- Added lemmatization also improved the performance sightly as the word are modified to its root form.

5.D.

Accuracy, confusion matrix, log-loss, and AUC-ROC are some mentions for metrics.  

Precision-recall is a widely used metrics for classification problems

# Part 2

In [96]:
import nltk
from nltk.stem.lancaster import LancasterStemmer
stemmer = LancasterStemmer()

import numpy
import tflearn
import tensorflow as tf
import random
import json
import pickle

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\tf\lib\site-packages\tensorflow\python\compat\v2_compat.py:107: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term
curses is not supported on this machine (please install/reinstall curses for an optimal experience)

In [92]:
with open('GL Bot.json') as file:
    data = json.load(file)

In [93]:
data

{'intents': [{'tag': 'Intro',
   'patterns': ['hi',
    'how are you',
    'is anyone there',
    'hello',
    'whats up',
    'hey',
    'yo',
    'listen',
    'please help me',
    'i am learner from',
    'i belong to',
    'aiml batch',
    'aifl batch',
    'i am from',
    'my pm is',
    'blended',
    'online',
    'i am from',
    'hey ya',
    'talking to you for first time'],
   'responses': ['Hello! how can i help you ?'],
   'context_set': ''},
  {'tag': 'Exit',
   'patterns': ['thank you',
    'thanks',
    'cya',
    'see you',
    'later',
    'see you later',
    'goodbye',
    'i am leaving',
    'have a Good day',
    'you helped me',
    'thanks a lot',
    'thanks a ton',
    'you are the best',
    'great help',
    'too good',
    'you are a good learning buddy'],
   'responses': ['I hope I was able to assist you, Good Bye'],
   'context_set': ''},
  {'tag': 'Olympus',
   'patterns': ['olympus',
    'explain me how olympus works',
    'I am not able to understand olympus',
    'olympus window not working',
    'no access to olympus',
    'unable to see link in olympus',
    'no link visible on olympus',
    'whom to contact for olympus',
    'lot of problem with olympus',
    'olypus is not a good tool',
    'lot of problems with olympus',
    'how to use olympus',
    'teach me olympus'],
   'responses': ['Link: Olympus wiki'],
   'context_set': ''},
  {'tag': 'SL',
   'patterns': ['i am not able to understand svm',
    'explain me how machine learning works',
    'i am not able to understand naive bayes',
    'i am not able to understand logistic regression',
    'i am not able to understand ensemble techb=niques',
    'i am not able to understand knn',
    'i am not able to understand knn imputer',
    'i am not able to understand cross validation',
    'i am not able to understand boosting',
    'i am not able to understand random forest',
    'i am not able to understand ada boosting',
    'i am not able to understand gradient boosting',
    'machine learning',
    'ML',
    'SL',
    'supervised learning',
    'knn',
    'logistic regression',
    'regression',
    'classification',
    'naive bayes',
    'nb',
    'ensemble techniques',
    'bagging',
    'boosting',
    'ada boosting',
    'ada',
    'gradient boosting',
    'hyper parameters'],
   'responses': ['Link: Machine Learning wiki '],
   'context_set': ''},
  {'tag': 'NN',
   'patterns': ['what is deep learning',
    'unable to understand deep learning',
    'explain me how deep learning works',
    'i am not able to understand deep learning',
    'not able to understand neural nets',
    'very diffult to understand neural nets',
    'unable to understand neural nets',
    'ann',
    'artificial intelligence',
    'artificial neural networks',
    'weights',
    'activation function',
    'hidden layers',
    'softmax',
    'sigmoid',
    'relu',
    'otimizer',
    'forward propagation',
    'backward propagation',
    'epochs',
    'epoch',
    'what is an epoch',
    'adam',
    'sgd'],
   'responses': ['Link: Neural Nets wiki'],
   'context_set': ''},
  {'tag': 'Bot',
   'patterns': ['what is your name',
    'who are you',
    'name please',
    'when are your hours of opertions',
    'what are your working hours',
    'hours of operation',
    'working hours',
    'hours'],
   'responses': ['I am your virtual learning assistant'],
   'context_set': ''},
  {'tag': 'Profane',
   'patterns': ['what the hell',
    'bloody stupid bot',
    'do you think you are very smart',
    'screw you',
    'i hate you',
    'you are stupid',
    'jerk',
    'you are a joke',
    'useless piece of shit'],
   'responses': ['Please use respectful words'],
   'context_set': ''},
  {'tag': 'Ticket',
   'patterns': ['my problem is not solved',
    'you did not help me',
    'not a good solution',
    'bad solution',
    'not good solution',
    'no help',
    'wasted my time',
    'useless bot',
    'create a ticket'],
   'responses': ['Tarnsferring the request to your PM'],
   'context_set': ''}]}

In [94]:
try:
    with open("data.pickle", "rb") as f:
        words, labels, training, output = pickle.load(f)
except:
    words = []
    labels = []
    docs_x = []
    docs_y = []

    for intent in data["intents"]:
        for pattern in intent["patterns"]:
            wrds = nltk.word_tokenize(pattern)
            words.extend(wrds)
            docs_x.append(wrds)
            docs_y.append(intent["tag"])

        if intent["tag"] not in labels:
            labels.append(intent["tag"])

    words = [stemmer.stem(w.lower()) for w in words if w != "?"]
    words = sorted(list(set(words)))

    labels = sorted(labels)

    training = []
    output = []

    out_empty = [0 for _ in range(len(labels))]

    for x, doc in enumerate(docs_x):
        bag = []

        wrds = [stemmer.stem(w.lower()) for w in doc]

        for w in words:
            if w in wrds:
                bag.append(1)
            else:
                bag.append(0)

        output_row = out_empty[:]
        output_row[labels.index(docs_y[x])] = 1

        training.append(bag)
        output.append(output_row)


    training = numpy.array(training)
    output = numpy.array(output)

    with open("data.pickle", "wb") as f:
        pickle.dump((words, labels, training, output), f)

In [97]:
from tensorflow.python.framework import ops
ops.reset_default_graph()
#tf.reset_default_graph()

net = tflearn.input_data(shape=[None, len(training[0])])
net = tflearn.fully_connected(net, 8)
net = tflearn.fully_connected(net, 8)
net = tflearn.fully_connected(net, len(output[0]), activation="softmax")
net = tflearn.regression(net)

model = tflearn.DNN(net)

try:
    model.load("model.tflearn")
except:
    model = tflearn.DNN(net)
    model.fit(training, output, n_epoch=1000, batch_size=8, show_metric=True)
    model.save("model.tflearn")

Training Step: 15999  | time: 0.046s
| Adam | epoch: 1000 | loss: 0.00000 - acc: 0.9853 -- iter: 120/128
Training Step: 16000  | time: 0.048s
| Adam | epoch: 1000 | loss: 0.00000 - acc: 0.9868 -- iter: 128/128
--
INFO:tensorflow:d:\Colab Notebooks\Natural Language Processing\Project 1\model.tflearn is not in all_model_checkpoint_paths. Manually adding it.

In [98]:
def bag_of_words(s, words):
    bag = [0 for _ in range(len(words))]

    s_words = nltk.word_tokenize(s)
    s_words = [stemmer.stem(word.lower()) for word in s_words]

    for se in s_words:
        for i, w in enumerate(words):
            if w == se:
                bag[i] = 1
            
    return numpy.array(bag)


def chat():
    print("Start talking with the bot (type quit to stop)!")
    while True:
        inp = input("You: ")
        if inp.lower() == "quit":
            break

        results = model.predict([bag_of_words(inp, words)])
        results_index = numpy.argmax(results)
        tag = labels[results_index]

        for tg in data["intents"]:
            if tg['tag'] == tag:
                responses = tg['responses']

        print(random.choice(responses))

if __name__ == "__main__":        
 chat()

Start talking with the bot (type quit to stop)!
Hello! how can i help you ?
Link: Olympus wiki
Link: Machine Learning wiki
Hello! how can i help you ?

In [2]:
!jupyter nbconvert --to html 'D:\Colab Notebooks\Natural Language Processing\Project 1\NLP_project1.ipynb'

This application is used to convert notebook files (*.ipynb)
        to various other formats.

        WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
=======
The options below are convenience aliases to configurable class-options,
as listed in the "Equivalent to" description-line of the aliases.
To see all configurable class-options for some <cmd>, use:
    <cmd> --help-all

--debug
    set log level to logging.DEBUG (maximize logging output)
    Equivalent to: [--Application.log_level=10]
--show-config
    Show the application's configuration (human-readable format)
    Equivalent to: [--Application.show_config=True]
--show-config-json
    Show the application's configuration (json format)
    Equivalent to: [--Application.show_config_json=True]
--generate-config
    generate default config file
    Equivalent to: [--JupyterApp.generate_config=True]
-y
    Answer yes to any questions instead of prompting.
    Equivalent to: [--JupyterApp.answer_yes=True]
--execute
    Execute the notebook prior to export.
    Equivalent to: [--ExecutePreprocessor.enabled=True]
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
    Equivalent to: [--ExecutePreprocessor.allow_errors=True]
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
    Equivalent to: [--NbConvertApp.from_stdin=True]
--stdout
    Write notebook output to stdout instead of files.
    Equivalent to: [--NbConvertApp.writer_class=StdoutWriter]
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
            relevant when converting to notebook format)
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory=]
--clear-output
    Clear output of current file and save in place,
            overwriting the existing notebook.
    Equivalent to: [--NbConvertApp.use_output_suffix=False --NbConvertApp.export_format=notebook --FilesWriter.build_directory= --ClearOutputPreprocessor.enabled=True]
--no-prompt
    Exclude input and output prompts from converted document.
    Equivalent to: [--TemplateExporter.exclude_input_prompt=True --TemplateExporter.exclude_output_prompt=True]
--no-input
    Exclude input cells and output prompts from converted document.
            This mode is ideal for generating code-free reports.
    Equivalent to: [--TemplateExporter.exclude_output_prompt=True --TemplateExporter.exclude_input=True --TemplateExporter.exclude_input_prompt=True]
--allow-chromium-download
    Whether to allow downloading chromium if no suitable version is found on the system.
    Equivalent to: [--WebPDFExporter.allow_chromium_download=True]
--disable-chromium-sandbox
    Disable chromium security sandbox when converting to PDF..
    Equivalent to: [--WebPDFExporter.disable_sandbox=True]
--show-input
    Shows code input. This flag is only useful for dejavu users.
    Equivalent to: [--TemplateExporter.exclude_input=False]
--embed-images
    Embed the images as base64 dataurls in the output. This flag is only useful for the HTML/WebPDF/Slides exports.
    Equivalent to: [--HTMLExporter.embed_images=True]
--sanitize-html
    Whether the HTML in Markdown cells and cell outputs should be sanitized..
    Equivalent to: [--HTMLExporter.sanitize_html=True]
--log-level=<Enum>
    Set the log level by value or name.
    Choices: any of [0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL']
    Default: 30
    Equivalent to: [--Application.log_level]
--config=<Unicode>
    Full path of a config file.
    Default: ''
    Equivalent to: [--JupyterApp.config_file]
--to=<Unicode>
    The export format to be used, either one of the built-in formats
            ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides', 'webpdf']
            or a dotted object name that represents the import path for an
            ``Exporter`` class
    Default: ''
    Equivalent to: [--NbConvertApp.export_format]
--template=<Unicode>
    Name of the template to use
    Default: ''
    Equivalent to: [--TemplateExporter.template_name]
--template-file=<Unicode>
    Name of the template file to use
    Default: None
    Equivalent to: [--TemplateExporter.template_file]
--theme=<Unicode>
    Template specific theme(e.g. the name of a JupyterLab CSS theme distributed
    as prebuilt extension for the lab template)
    Default: 'light'
    Equivalent to: [--HTMLExporter.theme]
--sanitize_html=<Bool>
    Whether the HTML in Markdown cells and cell outputs should be sanitized.This
    should be set to True by nbviewer or similar tools.
    Default: False
    Equivalent to: [--HTMLExporter.sanitize_html]
--writer=<DottedObjectName>
    Writer class used to write the
                                        results of the conversion
    Default: 'FilesWriter'
    Equivalent to: [--NbConvertApp.writer_class]
--post=<DottedOrNone>
    PostProcessor class used to write the
                                        results of the conversion
    Default: ''
    Equivalent to: [--NbConvertApp.postprocessor_class]
--output=<Unicode>
    overwrite base name use for output files.
                can only be used when converting one notebook at a time.
    Default: ''
    Equivalent to: [--NbConvertApp.output_base]
--output-dir=<Unicode>
    Directory to write output(s) to. Defaults
                                  to output to the directory of each notebook. To recover
                                  previous default behaviour (outputting to the current
                                  working directory) use . as the flag value.
    Default: ''
    Equivalent to: [--FilesWriter.build_directory]
--reveal-prefix=<Unicode>
    The URL prefix for reveal.js (version 3.x).
            This defaults to the reveal CDN, but can be any url pointing to a copy
            of reveal.js.
            For speaker notes to work, this must be a relative path to a local
            copy of reveal.js: e.g., "reveal.js".
            If a relative path is given, it must be a subdirectory of the
            current directory (from which the server is run).
            See the usage documentation
            (https://nbconvert.readthedocs.io/en/latest/usage.html#reveal-js-html-slideshow)
            for more details.
    Default: ''
    Equivalent to: [--SlidesExporter.reveal_url_prefix]
--nbformat=<Enum>
    The nbformat version to write.
            Use this to downgrade notebooks.
    Choices: any of [1, 2, 3, 4]
    Default: 4
    Equivalent to: [--NotebookExporter.nbformat_version]

Examples
--------

    The simplest way to use nbconvert is

            > jupyter nbconvert mynotebook.ipynb --to html

            Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides', 'webpdf'].

            > jupyter nbconvert --to latex mynotebook.ipynb

            Both HTML and LaTeX support multiple output templates. LaTeX includes
            'base', 'article' and 'report'.  HTML includes 'basic', 'lab' and
            'classic'. You can specify the flavor of the format used.

            > jupyter nbconvert --to html --template lab mynotebook.ipynb

            You can also pipe the output to stdout, rather than a file

            > jupyter nbconvert mynotebook.ipynb --stdout

            PDF is generated via latex

            > jupyter nbconvert mynotebook.ipynb --to pdf

            You can get (and serve) a Reveal.js-powered slideshow

            > jupyter nbconvert myslides.ipynb --to slides --post serve

            Multiple notebooks can be given at the command line in a couple of
            different ways:

            > jupyter nbconvert notebook*.ipynb
            > jupyter nbconvert notebook1.ipynb notebook2.ipynb

            or you can specify the notebooks list in a config file, containing::

                c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

            > jupyter nbconvert --config mycfg.py

To see all available configurables, use `--help-all`.

[NbConvertApp] WARNING | pattern "'D:\\Colab" matched no files
[NbConvertApp] WARNING | pattern 'Notebooks\\Natural' matched no files
[NbConvertApp] WARNING | pattern 'Language' matched no files
[NbConvertApp] WARNING | pattern 'Processing\\Project' matched no files
[NbConvertApp] WARNING | pattern "1\\NLP_project1.ipynb'" matched no files